numpy==2.1.1
openvino==2024.3.0
openvino-telemetry==2024.1.0
packaging==24.1
pybind11==2.13.6
PyQt3D==5.15.6
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQt6==6.7.1
PyQt6-3D==6.7.0
PyQt6-Charts==6.7.0
PyQt6-DataVisualization==6.7.0
PyQt6-NetworkAuth==6.7.0
PyQt6-WebEngine==6.7.0
PyQt6_sip==13.8.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
TBB==0.2